<div>
    <canvas id="10-year-treasury"></canvas>
    <canvas id="5-year-treasury"></canvas>
    <canvas id="13-week-treasury"></canvas>
    <canvas id="snp-500"></canvas>
</div>

<script>
  const s3Params = {
    accessKeyId: "AKIAXLGDQZO7WH4BV7ED",
    secretAccessKey: "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",
    region: "ap-northeast-2",
  };
  const s3 = new AWS.S3(s3Params);

  function getKey(filename) {
    return `yahoo-finance/latest/${filename}`;
  }

  function drawGraphFromS3Data(key, canvasConfig) {
    const params = {
      Bucket: "yangkyeongmo-general",
      Key: key,
    };
  
    s3.getObject(params, function(err, data) {
      if (err) {
        console.log(err, err.stack);
      } else {
        const csvStr = binTypedArrayToString(data.Body);
        const csvArr = csvStringToArray(csvStr);
        const [dateArr, closeValueArr] = getInterestedCsvData(csvArr);
        updateGraph(canvasConfig.elemId, canvasConfig.title, dateArr, closeValueArr);
      }
    })
  }

  function binTypedArrayToString(arr) {
    let str = "";
    for (let i=0; i<arr.length; i++) {
      str += String.fromCharCode(arr[i]);
    }
    return str;
  }

  function csvStringToArray(str) {
    let arr = [];
    str.split('\n').forEach(function(elem) {
      let newItem = [];
      elem.split(',').forEach(function(item) {
        newItem.push(item);
      })
      arr.push(newItem);
    })
    return arr;
  }

  function getInterestedCsvData(arr) {
    const dateIdx = 0;
    const closeValueIdx = 3;
    let dateArr = [];
    let closeValueArr = [];
    for (let i=1; i<arr.length; i++) {
      dateArr.push(arr[i][dateIdx]);
      closeValueArr.push(arr[i][closeValueIdx]);
    }
    return [dateArr, closeValueArr];
  }

  function updateGraph(elemId, title, xAxisData, yAxisData) {
    const labels = xAxisData;
  
    const data = {
      labels: labels,
      datasets: [{
        label: title,
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: yAxisData,
        pointRadius: 0,  // no circles
      }]
    };
  
    const config = {
      type: 'line',
      data: data,
      options: {
        events: ['click']
      }
    };

    const myChart = new Chart(
        document.getElementById(elemId),
        config
    );
  }

  drawGraphFromS3Data(
    getKey("10year_treasury.csv"),
    {
      elemId: "10-year-treasury",
      title: "10 year treasury",
    }
  )
  drawGraphFromS3Data(
    getKey("5year_treasury.csv"),
    {
      elemId: "5-year-treasury",
      title: "5 year treasury",
    }
  )
  drawGraphFromS3Data(
    getKey("13week_treasury.csv"),
    {
      elemId: "13-week-treasury",
      title: "13 week treasury",
    }
  )
  drawGraphFromS3Data(
    getKey("S&P500.csv"),
    {
      elemId: "snp-500",
      title: "S&P 500",
    }
  )
</script>